[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
sqlalchemy = "*"
asyncpg = "*"
psycopg2-binary = "*"
mypy = "*"
icecream = "*"
pydantic-settings = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
"uvicorn[standard]" = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
